.img1 {
    position: fixed;
    object-fit: cover;
    width: 100%;
    z-index: 1;
}
.message {
    background-color: black;
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    color:aliceblue;
    text-align: center;
}

.img2 {
    object-fit: cover;
    width: 100%;
}